#hero {
    background-image: url(../../public/media//img/bg-hero.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#order {
    background-image: url(../../public/media//img/bg-pesan.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#info {
    background-image: url(../../public/media//img/bg-info.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}